{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Donate</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.38.0/dist/full.css" rel="stylesheet" type="text/css" />
{% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static 'js/style.css' %}">
<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <h1 class="font-bold text-blue-500 text-2xl mt-0.5 mb-1 ml-0.5">E C O I S T</h1>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4 ">
                <a href="{% url 'homepage:show_homepage' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                <a href="{% url 'campaign:show_campaign' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Campaign List</a>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button type="button" class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span class="sr-only">View notifications</span>
            
          </button>
  
          <div class="relative ml-3">
            {% if not user.is_authenticated %}
            <div>
                <button class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" onclick="location.href='/login/'">Login</button>
            </div>
            {% else %} 
          
            <div class="flex space-x-4">
              <p class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{user.get_username}}</p>
              <button class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" onclick="location.href='/logout/'">Logout</button>
            </div>
            {% endif %}
          </div>
  
        </div>
      </div>
    </div>
  </nav>
<div tabindex="-1" class="modal hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-screen">
    <div class="relative inline-block px-7 py-3 w-full max-w-lg h-screen md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex justify-center items-center p-5 rounded-t border-b dark:border-gray-600">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">Success!</h3>
            </div>
            <div class="tasks p-6 space-y-6">
                <p class="message text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Thank you! You have donated IDR ${data[i].fields.nominal} and ${data[i].fields.jumlahPohon}x ${data[i].fields.namaPohon}.
                </p>
            </div>
            <div class="flex justify-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                <button data-modal-toggle="medium-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 acc-button">OK</button>
                <button data-modal-toggle="medium-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600 close-modal">Donate Again</button>
            </div>
        </div>
    </div>
</div>
    <main class="container w-auto m-auto text-center">
        <div class="wrapper-donate content-page">
            
            <form id="donateForm" method="POST" action="">
                {% csrf_token %}
                <div class="form-floating m-10">
                    <label class="font-semibold text-2xl">Donation Amount</label>
                    <br>
                    {{ form.nominal }}
                    <h6 class="text-gray-500">Minimum donation IDR 1.000</h6>
                </div>
                <div class="form-floating m-10">
                    <label class="font-semibold text-2xl mb-10">Donate with Tree</label>
                    <br>
                    <label class="font-semibold text-align-left w-20">Tree Name</label>
                    <br>
                    {{ form.namaPohon }}
                    <br>
                    <label class="font-semibold text-align-left w-20">Number of Trees</label>
                    <br>
                    {{ form.jumlahPohon }}
                    <h6 class="text-gray-500">Minimum 1</h6>
                </div>
                <div class="form-floating m-10">
                    <label class="font-semibold text-2xl">Notes for Us</label> 
                    <br>
                    {{ form.pesan }}
                </div>
                <button id="showModal" type="submit" value="submit" class="showModal inline-block px-7 py-3 bg-blue-500 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-400 hover:shadow-lg focus:bg-blue-400 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-400 active:shadow-lg transition duration-150 ease-in-out mb-10">Donate</button>    
            </form>
        </div>
    </main>
<!-- </div> -->
<!-- <script src="{% static 'js/ajax.js' %}" type="text/javascript"></script> -->
<script>
    function refresh() {
        $.get("./json/", function (data) {
            console.log(data);
            
        });
    }
    function addDonate() {
        const nominal = document.forms["donateForm"]["nominal"].value
        const namaPohon = document.forms["donateForm"]["namaPohon"].value
        const jumlahPohon = document.forms["donateForm"]["jumlahPohon"].value
        const pesan = document.forms["donateForm"]["pesan"].value
        $.post({
                url: 'donate_ajax/',
                type: 'post',
                data: {
                    'nominal': nominal,
                    'namaPohon': namaPohon,
                    'jumlahPohon': jumlahPohon,
                    'pesan': pesan,
                },
                success: refresh
            });
    }
    function showModal() {
        $('.modal').classList.remove("hidden")
    }
    $('#showModal').click(() => {
        addDonate()
        showModal()
        return false;
    })
    refresh();
    // $(document).ready(function(){
    //     $.get("/donate/json", function(data) {
    //         for (i=0; i < data.length; i++){
    //             $(".wrapper-donate").append(`
    //             <div tabindex="-1" class="modal overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-screen">
    //                 <div class="relative inline-block px-7 py-3 w-full max-w-lg h-screen md:h-auto">
    //                     <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
    //                         <div class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600">
    //                             <h3 class="text-xl font-medium text-gray-900 dark:text-white">Verification</h3>
    //                             <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="medium-modal">
    //                                 <svg aria-hidden="true" class="x-modal w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    //                                 <span class="sr-only">Close modal</span> 
    //                             </button>
    //                         </div>
    //                         <div class="tasks p-6 space-y-6">
    //                             <p class="message text-base leading-relaxed text-gray-500 dark:text-gray-400">
    //                                 Thank you! You have donated ${data[i].fields.nominal} and ${data[i].fields.jumlahPohon}x ${data[i].fields.namaPohon}.
    //                             </p>
    //                         </div>
    //                         <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
    //                             <button data-modal-toggle="medium-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
    //                             <button data-modal-toggle="medium-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 acc-button">I accept</button>
    //                             <button data-modal-toggle="medium-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600 close-modal">Decline</button>
    //                         </div>
    //                     </div>
    //                 </div>
    //             </div>
    //             `)
    //             const modal = document.querySelector('.modal');
    //             const acc = document.querySelector('.acc-button');
    //             const close = document.querySelector('.close-modal');
    //             const xModal = document.querySelector('.x-modal');
    //             close.addEventListener('click', function() {
    //                 modal.classList.add('hidden')
    //             });
    //             xModal.addEventListener('click', function() {
    //                 modal.classList.add('hidden')
    //             });
    //             acc.addEventListener('click', function() {
    //                 location.href='/campaign'
    //             });
    //         }
    //     });

    //     $("#showModal").click(function(){
    //         const nominal = document.forms["donateForm"]["nominal"].value
    //         const namaPohon = document.forms["donateForm"]["namaPohon"].value
    //         const jumlahPohon = document.forms["donateForm"]["jumlahPohon"].value
    //         const pesan = document.forms["donateForm"]["pesan"].value
    //         const data = {nominal:nominal,namaPohon:namaPohon,jumlahPohon:jumlahPohon,pesan:pesan,csrfmiddlewaretoken:'{{ csrf_token }}'}
    //         $.ajax({url:"/donate/donate_ajax/",data:data,method:"POST"}).done(function (resp) {
    //             alert(data.nominal)
    //             $(".wrapper-donate").append(`
    //             <div tabindex="-1" class="modal overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-screen">
    //                 <div class="relative inline-block px-7 py-3 w-full max-w-lg h-screen md:h-auto">
    //                     <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
    //                         <div class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600">
    //                             <h3 class="text-xl font-medium text-gray-900 dark:text-white">Verification</h3>
    //                             <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="medium-modal">
    //                                 <svg aria-hidden="true" class="x-modal w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    //                                 <span class="sr-only">Close modal</span> 
    //                             </button>
    //                         </div>
    //                         <div class="tasks p-6 space-y-6">
    //                             <p class="message text-base leading-relaxed text-gray-500 dark:text-gray-400">
    //                                 Thank you! You have donated ${resp.fields.nominal} and ${resp.fields.jumlahPohon}x ${resp.fields.namaPohon}.
    //                             </p>
    //                         </div>
    //                         <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
    //                             <button data-modal-toggle="medium-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
    //                             <button data-modal-toggle="medium-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 acc-button">I accept</button>
    //                             <button data-modal-toggle="medium-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600 close-modal">Decline</button>
    //                         </div>
    //                     </div>
    //                 </div>
    //             </div>
    //             `)
    //             const modal = document.querySelector('.modal');
    //             const acc = document.querySelector('.acc-button');
    //             const close = document.querySelector('.close-modal');
    //             const xModal = document.querySelector('.x-modal');
    //             close.addEventListener('click', function() {
    //                 modal.classList.add('hidden')
    //             });
    //             xModal.addEventListener('click', function() {
    //                 modal.classList.add('hidden')
    //             });
    //             acc.addEventListener('click', function() {
    //                 location.href='/campaign'
    //             });
    //         })
    //     })
    // });
</script>
{% endblock content %}