{% extends 'base.html' %}

{% block meta %}
<title>Donate</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
{% endblock meta %}

{% block content %}
<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <h1 class="font-bold text-blue-500 text-2xl mt-0.5 mb-1 ml-0.5">E C O I S T</h1>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4 ">
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Campaign List</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Create Campaign</a> 
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button type="button" class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span class="sr-only">View notifications</span>
            
          </button>

          <div class="relative ml-3">
            {% if not user.is_authenticated %}
            <div>
                <button class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" onclick="location.href='/ecoist/login/'">Login</button>
            </div>
            {% else %} 
          
            <div class="flex space-x-4">
              <p class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{user.get_username}}</p>
              <button class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" onclick="location.href='/ecoist/logout/'">Logout</button>
            </div>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </nav>
<div class="bg-blue-100 h-100vh">
    <main class="container w-auto m-auto text-center">
        <div class="wrapper-donate content-page">
            
            <form id="donateForm" method="POST" action="">
                {% csrf_token %}
                <div class="form-floating m-10">
                    <label class="font-semibold text-2xl">Donation Amount</label>
                    <br>
                    {{ form.nominal }}
                    <h6 class="text-gray-500">Minimum donation IDR 1.000</h6>
                </div>
                <div class="form-floating m-10">
                    <label class="font-semibold text-2xl mb-10">Donate with tree purchase</label>
                    <br>
                    <label class="font-semibold text-align-left w-20">Tree Name</label>
                    <br>
                    {{ form.namaPohon }}
                    <br>
                    <label class="font-semibold text-align-left w-20">Number of Trees</label>
                    <br>
                    {{ form.jumlahPohon }}
                    <h6 class="text-gray-500">Minimum 1</h6>
                </div>
                <div class="form-floating m-10">
                    <label class="font-semibold text-2xl">Notes for Us</label> 
                    <br>
                    {{ form.pesan }}
                </div>
                <button id="showModal" class="showModal inline-block px-7 py-3 bg-blue-500 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-400 hover:shadow-lg focus:bg-blue-400 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-400 active:shadow-lg transition duration-150 ease-in-out mb-10" type="submit">Donate</button>    
            </form>
        </div>
    </main>
</div>
<script>
    // $(document).ready(function(){
    $(document).ready(function () {
        console.log("hi")
        loadData();
    });

    function loadData() {
        $(document).on('click','#showModal', function (e) {
            const nominal = document.forms["donateForm"]["nominal"].value
            const namaPohon = document.forms["donateForm"]["namaPohon"].value
            const jumlahPohon = document.forms["donateForm"]["jumlahPohon"].value
            const pesan = document.forms["donateForm"]["pesan"].value
            const data = {nominal:nominal,namaPohon:namaPohon,jumlahPohon:jumlahPohon,pesan:pesan,csrfmiddlewaretoken:'{{ csrf_token }}'}
            console.log('hao')
            $.ajax({
                    url:"{% url 'donate:donate_ajax' %}",
                    data:data,
                    method:"POST",
                    dataType: "json",
                    success: function (resp){
                        console.log("1233")
                        $(".wrapper-donate").html(`
                        <div tabindex="-1" class="modal overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-screen">
                            <div class="relative inline-block px-7 py-3 w-full max-w-lg h-screen md:h-auto">
                                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                    <div class="flex justify-center items-center p-5 rounded-t border-b dark:border-gray-600">
                                        <h3 class="text-xl font-medium text-gray-900 dark:text-white">Success!</h3>
                                    </div>
                                    <div class="tasks p-6 space-y-6">
                                        <p class="message text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                            Thank you! You have donated IDR ${resp.fields.nominal} and ${resp.fields.jumlahPohon}x ${resp.fields.namaPohon}.
                                        </p>
                                    </div>
                                    <div class="flex justify-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                                        <button data-modal-toggle="medium-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 acc-button">OK</button>
                                        <button data-modal-toggle="medium-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600 close-modal">Donate Again</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `)
                        // const modal = document.querySelector('#modal');
                        // // const acc = document.getElementById('acc-button');
                        
                        // // const close = document.getElementById('close-modal');
                        // // console.log(close)
                        // $(document).on('click','#close-modal', function (e) {
                        //     console.log('masuk')
                        //     // modal.classList.add('hidden')
                        //     $(".wrapper-donate").html('')
                        //     // overlayCl.classList.add('hidden')
                        //     location.href='/donate'
                        // });
                        // $(document).on('click','#acc-button', function (e) {
                        //     location.href='/campaign'
                        // });
                        },
                    error: function (resp) {
                        console.log('Error?');
                    }
                    });
                })
            }
</script>
{% endblock content %}