{% extends 'base.html' %}

{% block meta %}
<title>Donate</title>

{% endblock meta %}

{% block content %}
<div id="__layout">
    <main class="container">
        <div data-v-5c74cc03="">
            <div class="wrapper-page" data-v-5c74cc03="">
                <div data-v-699193f1="" data-v-5c74cc03="" class="wrapper-donate content-page">
                    <nav data-v-17c0c4be="" data-v-699193f1="" class="shadow">
                        <div data-v-17c0c4be="" class="container">
                            <div data-v-17c0c4be="" class="wrapper-navbar justify-content-between is-title">
                                <div data-v-17c0c4be="" class="wrapper-title flex-1">
                                    <button class="btn mb-4 text-center" type="button" onclick="location.href='/donate/'" style="font-size:50px">&#8592;</button> 
                                    <h1 data-v-17c0c4be="" class="title">Bantu Hijaukan Indonesia dengan Menanam 3000 Pohon!</h1>  
                                </div> 
                                <img data-v-17c0c4be="" alt="icon-menu" src="/_nuxt/8c90dd6ec4fa8f07855ddb25ede047c9.svg" style="display: none;"> 
                                <img data-v-17c0c4be="" src="/_nuxt/68675fbd6a3f93ef28e28e8b05063fbe.svg" alt="icon-close" class="pointer" style="display: none;">
                            </div>
                        </div>
                    </nav> 
                    <form data-v-699193f1="">
                        <div data-v-699193f1="" class="section-card">
                            <h3 data-v-699193f1="" class="title">Nominal Donasi</h3> 
                            <div data-v-49708e45="" data-v-699193f1="" class="wrapper-nominals" value="15000">
                                <div data-v-49708e45="" class="nominals">
                                    <div data-v-49708e45="" class="item">
                                        <input data-v-49708e45="" id="general-15000" type="radio" name="general" class="d-none radio-label" value="15000"> 
                                        <label data-v-49708e45="" for="general-15000" class="button-label">Rp 15.000</label>
                                    </div>
                                    <div data-v-49708e45="" class="item">
                                        <input data-v-49708e45="" id="general-50000" type="radio" name="general" class="d-none radio-label" value="50000"> 
                                        <label data-v-49708e45="" for="general-50000" class="button-label">Rp 50.000</label>
                                    </div>
                                    <div data-v-49708e45="" class="item">
                                        <input data-v-49708e45="" id="general-100000" type="radio" name="general" class="d-none radio-label" value="100000"> 
                                        <label data-v-49708e45="" for="general-100000" class="button-label">Rp 100.000</label>
                                    </div> 
                                    <div data-v-49708e45="" class="item">
                                        <input data-v-49708e45="" id="general-manual" type="radio" name="general-manual" class="d-none radio-label"> 
                                        <label data-v-49708e45="" for="general-manual" class="button-label">Lainnya</label>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div data-v-699193f1="" class="section-card products">
                            <h3 data-v-699193f1="" class="title">Donasi dengan pembelian barang</h3> 
                            <div data-v-699193f1="" class="description d-flex mt-sm">
                                <div data-v-699193f1="" class="text font-12 text-dark-70">Barang donasi akan dipesan oleh tim WeCare.id melalui partner terpercaya dan dikirimkan langsung kepada penerima donasi.</div> 
                                <div data-v-075575cb="" data-v-699193f1="" class="wrapper">
                                    <input data-v-075575cb="" type="checkbox" class="switch">
                                </div>
                            </div> 
                            <div data-v-699193f1="" class="products mt-sm">
                                <div data-v-4e3a6750="" data-v-699193f1="" class="wrapper">
                                    <div data-v-4e3a6750="" class="wrapper-header">
                                        <div data-v-4e3a6750="" class="wrapper-image">
                                            <img data-v-4e3a6750="" alt="#TanamPohon - Bibit Pohon Kayu Keras" class="img-fluid rounded-sm lazyLoad isLoaded" src="https://70867a2ef4c36f4d1885-185a360f54556c7e8b9c7a9b6e422c6e.ssl.cf6.rackcdn.com/file/2020-09-10/PjxN7Istuj5d.png">
                                        </div> 
                                        <div data-v-4e3a6750="" class="wrapper-text flex-1">
                                            <span data-v-4e3a6750="" class="name">#TanamPohon - Bibit Pohon Kayu Keras</span> 
                                            <span data-v-4e3a6750="" class="price">Rp 105.000</span>
                                        </div>
                                    </div> 
                                    <div data-v-4e3a6750="" class="wrapper-counter">
                                        <button data-v-4e3a6750="" type="button" disabled="disabled" class="btn btn-circle btn-blue-100">-</button> 
                                        <span data-v-4e3a6750="" class="qty">0</span> 
                                        <button data-v-4e3a6750="" type="button" class="btn btn-circle btn-blue-100">+</button>
                                    </div>
                                </div>
                                <div data-v-4e3a6750="" data-v-699193f1="" class="wrapper">
                                    <div data-v-4e3a6750="" class="wrapper-header">
                                        <div data-v-4e3a6750="" class="wrapper-image">
                                            <img data-v-4e3a6750="" alt="#TanamPohon - Bibit Pohon Buah" class="img-fluid rounded-sm lazyLoad isLoaded" src="https://70867a2ef4c36f4d1885-185a360f54556c7e8b9c7a9b6e422c6e.ssl.cf6.rackcdn.com/file/2020-06-06/e5p9Si8ztoNT.png">
                                        </div> 
                                        <div data-v-4e3a6750="" class="wrapper-text flex-1">
                                            <span data-v-4e3a6750="" class="name">#TanamPohon - Bibit Pohon Buah</span> 
                                            <span data-v-4e3a6750="" class="price">Rp 78.750</span>
                                        </div>
                                    </div> 
                                    <div data-v-4e3a6750="" class="wrapper-counter">
                                        <button data-v-4e3a6750="" type="button" disabled="disabled" class="btn btn-circle btn-blue-100">-</button> 
                                        <span data-v-4e3a6750="" class="qty">0</span> 
                                        <button data-v-4e3a6750="" type="button" class="btn btn-circle btn-blue-100">+</button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div data-v-699193f1="" class="section-card product-note">
                            <div data-v-fab3ab1a="" data-v-699193f1="" class="vertical form-group vertical">
                                <label data-v-fab3ab1a="" class="">Catatan untuk kami</label> 
                                <div data-v-fab3ab1a="" class="form-outline    "> 
                                    <textarea data-v-fab3ab1a="" type="textarea" cols="30" rows="6" maxlength="280" placeholder="Bisa berupa pertanyaan / alamat pengiriman apabila donasi pembeliaan barang / nama perkurban apabila donasi kurban atau zakat" class="form-control"></textarea> 
                                </div> <!----> <!---->
                            </div>
                        </div> 
                        <!-- <div data-v-6aa28d9b="" data-v-699193f1="" class="wrapper section-card" value="">
                            <div data-v-6aa28d9b="" class="content">
                                <div data-v-fab3ab1a="" data-v-6aa28d9b="" class="vertical form-group vertical">
                                    <label data-v-fab3ab1a="" class="">Dukungan untuk campaign</label> 
                                    <div data-v-fab3ab1a="" class="form-outline    "> 
                                        <textarea data-v-fab3ab1a="" type="textarea" cols="30" rows="6" maxlength="280" placeholder="Tulis dukungan atau doa untuk pasien disini" class="form-control"></textarea> 
                                    </div> 
                                </div> 
                                <small data-v-6aa28d9b="" class="text-dark-50 current">0</small> 
                                <small data-v-6aa28d9b="" class="text-dark-50">/280</small>
                            </div>
                        </div>  -->
                        <!-- <div data-v-e904d944="" data-v-699193f1="" class="wrapper-nominals" value="1500">
                            <div data-v-e904d944="" class="section-card operational">
                                <h3 data-v-e904d944="" class="title">Donasi operasional</h3> 
                                <div data-v-e904d944="" class="content">
                                    <div data-v-e904d944="" class="description d-flex mt-sm">
                                        <div data-v-e904d944="" class="text text-dark-70">Donasi ini akan digunakan untuk menutupi biaya operasional Yayasan WeCare.id. Kontribusi Anda akan membantu mempertahankan organisasi dan kami akan dapat membantu lebih banyak orang. Donasi ini opsional.</div> 
                                        <div data-v-075575cb="" data-v-e904d944="" class="wrapper">
                                            <input data-v-075575cb="" type="checkbox" class="switch">
                                        </div>
                                    </div> 
                                    <div data-v-e904d944="" class="nominals">
                                        <div data-v-e904d944="" class="item">
                                            <input data-v-e904d944="" id="operational-1500" type="radio" name="operational" class="d-none radio-label" value="1500"> 
                                            <label data-v-e904d944="" for="operational-1500" class="button-label">Rp 1.500</label>
                                        </div>
                                        <div data-v-e904d944="" class="item">
                                            <input data-v-e904d944="" id="operational-4500" type="radio" name="operational" class="d-none radio-label" value="4500"> 
                                            <label data-v-e904d944="" for="operational-4500" class="button-label">Rp 4.500</label>
                                        </div>
                                        <div data-v-e904d944="" class="item">
                                            <input data-v-e904d944="" id="operational-7500" type="radio" name="operational" class="d-none radio-label" value="7500"> 
                                            <label data-v-e904d944="" for="operational-7500" class="button-label">Rp 7.500</label>
                                        </div> 
                                        <div data-v-e904d944="" class="item">
                                            <input data-v-e904d944="" id="operational-manual" type="radio" name="operational-manual" class="d-none radio-label"> 
                                            <label data-v-e904d944="" for="operational-manual" class="button-label">Lainnya</label>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>  -->
                        <!-- <div data-v-699193f1="" class="wrapper-summary section-card">
                            <h3 data-v-699193f1="" class="title">Ringkasan donasi</h3> 
                            <div data-v-699193f1="" class="list">
                                <div data-v-699193f1="" class="item">
                                    <span data-v-699193f1="" class="title">Donasi utama</span> 
                                    <span data-v-699193f1="" class="value">Rp 15.000</span>
                                </div> 
                                <div data-v-699193f1="" class="item">
                                    <span data-v-699193f1="" class="title">Donasi operasional</span> 
                                    <span data-v-699193f1="" class="value">Rp 1.500</span>
                                </div> 
                            </div>
                        </div>  -->
                        <!-- <div data-v-699193f1="" class="wrapper-total section-card">
                            <div data-v-699193f1="" class="d-flex justify-content-between">
                                <span data-v-699193f1="" class="label">Total pembayaran</span> 
                                <div data-v-699193f1="" class="amount">
                                    <span data-v-699193f1="" class="currency">Rp</span> 
                                    <span data-v-699193f1="" class="value">16.500</span> 
                                    <small data-v-699193f1="" class="usd">1.11 USD</small>
                                </div>
                            </div> 
                            <div data-v-699193f1="" class="d-flex align-items-center gap-xxs form-group mb-0">
                                <input data-v-699193f1="" id="isAnonymous" type="checkbox"> 
                                <label data-v-699193f1="" for="isAnonymous">Donasi sebagai anonymous</label>
                            </div> 
                            <div data-v-699193f1="" class="helper">
                                <span data-v-699193f1="" class="text-dark-50">Untuk donasi di bawah Rp 10.000 hanya dapat menggunakan opsi pembayaran GoPay, OVO, Jenius dan #DompetSehat WeCare.id</span>
                            </div>
                        </div>  -->
                        <!-- <div data-v-699193f1="" class="section-card guest">
                            <h3 data-v-699193f1="" class="title">Masukkan identitas kamu</h3> 
                            <div data-v-fab3ab1a="" data-v-699193f1="" class="mb-xs form-group vertical">
                                <label data-v-fab3ab1a="" class="">Nama</label> 
                                <div data-v-fab3ab1a="" class="form-outline    "> 
                                    <input data-v-fab3ab1a="" type="text" class="form-control"> 
                                </div> 
                            </div> 
                            <div data-v-fab3ab1a="" data-v-699193f1="" class="mb-xs form-group vertical">
                                <label data-v-fab3ab1a="" class="">Email</label> 
                                <div data-v-fab3ab1a="" class="form-outline    "> 
                                    <input data-v-fab3ab1a="" type="email" class="form-control"> 
                                </div> 
                            </div> 
                            <div data-v-fab3ab1a="" data-v-699193f1="" class="mb-xs form-group vertical">
                                <label data-v-fab3ab1a="" class="">No. Telepon</label> 
                                <div data-v-fab3ab1a="" class="form-outline    "> 
                                    <input data-v-fab3ab1a="" type="number" class="form-control"> 
                                </div>
                            </div>
                        </div>  -->
                        <div data-v-699193f1="" class="wrapper-button mt-auto">
                            <button data-v-699193f1="" class="btn btn-primary btn-donate">Lanjut pembayaran</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content %}