{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  



<div id="content" class="bg-blue-100 min-h-screen min-w-full">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <h1 class="font-bold text-blue-500 text-2xl mt-0.5 mb-1 ml-0.5">E C O I S T</h1>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4 ">
                <!-- <a href="{% url 'homepage:show_homepage' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                <a href="{% url 'campaign:show_campaign' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Campaign List</a> -->
                <!-- <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Create Campaign</a>  -->
            </div>
          </div>
        </div>
        <div class="right-0 flex items-center pr-2 static inset-auto sm:ml-6 sm:pr-0">
          <div class="relative ml-3">
            {% if not user.is_authenticated %}
            <div>
                <button class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" onclick="location.href='/login/'">Login</button>
            </div>
            {% else %} 
          
            <div class="flex space-x-4">
              <p class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{user.get_username}}</p>
              <button class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" onclick="location.href='/logout/'">Logout</button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <!-- overlay -->
  <div id="modal_overlay" class="hidden absolute inset-0 bg-black bg-opacity-30 h-full w-screen flex justify-center items-center pt-10 md:pt-0">
    <!-- modal -->
    <div id="modal" class="opacity-0 transform -translate-y-full scale-150 relative h-fit bg-white w-4/12 rounded shadow-lg transition-opacity transition-transform duration-300">
      <!-- button close -->
      <button 
      onclick="openModal(false,-1)"
        class="absolute -top-3 -right-3 bg-red-500 hover:bg-red-600 text-2xl w-10 h-10 rounded-full focus:outline-none text-white">
        &cross;
      </button>
      <!-- body -->
      <div class="flex justify-center items-center w-full p-6 bg-white" id="count">
        
      </div>
    </div>
  </div>
  <div class="px-8 py-6 flex lg:flex-row flex-col gap-2 justify-between">
    <div class="flex md:flex-row flex-col gap-2 space justify-between">
      <button onclick="openModal(true,0)" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded text-white focus:outline-none">
        Total Users
      </button>
      <button onclick="openModal(true,1)" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded text-white focus:outline-none">
        Donation Amount
      </button>
      <button onclick="openModal(true,2)" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded text-white focus:outline-none">
        Total Tree
      </button>
      <button onclick="openModal(true,3)" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded text-white focus:outline-none">
        Total Campagin
      </button>
      <button onclick="openModal(true,4)" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded text-white focus:outline-none">
        Total Donation
      </button>
    </div>
    <div class="flex">
      <button onclick="openModal(true,5)" class="bg-blue-500 w-full lg:w-fit hover:bg-blue-600 px-4 py-2 rounded text-white focus:outline-none">
        Add Notes
      </button>
    </div>
  </div>
  <h1 class="font-bold text-center text-lg">Top 5 Users Donation</h1>
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-slate-300 border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  #
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Name
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Donation Amount
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Total Tree
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Total Campaign
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Total Donation 
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Notes
                </th>
              </tr>
            </thead>
            <tbody id="create-table">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="lg:grid lg:grid-cols-2 w-screen">
    <div class="flex justify-center">
      <img class="px-6" src="data:image/png;base64,{{ top_5_donation }}" alt="" height="600", width="600">
    </div>
    <div class="flex justify-center">
      <img class="px-6" src="data:image/png;base64,{{ top_5_campaign }}" alt="" height="600", width="600">
    </div>
    <div class="flex justify-center">
      <img class="px-6" src="data:image/png;base64,{{ dist_donation }}" alt="" height="600", width="600">
    </div>
    <div class="flex justify-center">
      <img class="px-6" src="data:image/png;base64,{{ dist_kampanye }}" alt="" height="600", width="600">
    </div>
  </div>
</div>



	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<script>
		$(document).ready(function() {

			var table = $('#example').DataTable({
					responsive: true
				})
				.columns.adjust()
				.responsive.recalc();
		});
	</script>

</div>

<script>
const modal_overlay = document.querySelector('#modal_overlay');
const modal = document.querySelector('#modal');
const table = (a,b,c,d,e,f,g) =>`
              <tr class="bg-white border-b">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">${a}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  ${b}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  ${c}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  ${d}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  ${e}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  ${f}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  ${g}
                </td>
              </tr>`

function openModal (value, param){
const modalCl = modal.classList
const overlayCl = modal_overlay
const contentEl = document.getElementById("content")
if(value){
  contentEl.classList.add("overflow-y-hidden")
  contentEl.classList.add("h-screen")

  overlayCl.classList.remove('hidden')
  setTimeout(() => {
    modalCl.remove('opacity-0')
    modalCl.remove('-translate-y-full')
    modalCl.remove('scale-150')
    console.log(value)
    if (param==0){getValue('username','Total Users')}
    else if (param==1){getValue('nominal','Total Donations Amount')}
    else if (param==2){getValue('jumlahPohon','Total Trees')}
    else if (param==3){getValue('kampanye','Total Joined Campaign')}
    else if (param==4){getValue('donasi','Total Joined Donation')}
    else if (param==5){
      $('#count').html(
      `  
      <div>
        <br>
        <div>Nama: </div>
        <div>{{form.username}}</div>
        <br>
        <div>Notes:</div>
        <div>{{form.noted}}</div>
        <br><br>
        <div class='text-center pb-2'>
          <button id='add-note'
          class="w-36 px-7 py-3 bg-blue-500 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-400 hover:shadow-lg focus:bg-blue-400 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-400 active:shadow-lg transition duration-150 ease-in-out">
          Create Task</button>
        </div>
      </div>
      `
      );
    }

  }, 100);
} else {
  contentEl.classList.remove("overflow-y-hidden")
  contentEl.classList.remove("h-screen")

  modalCl.add('-translate-y-full')
  setTimeout(() => {
    modalCl.add('opacity-0')
    modalCl.add('scale-150')
    $('#count').html('')
  }, 100);
  setTimeout(() => overlayCl.classList.add('hidden'), 300);
}
} 

$(document).ready(function () {
  console.log("hi")
  loadData();
});

function loadData() {
  console.log("load")
  $.ajax({
    url: "{% url 'admin_ft:add_ajax_5' %}",
    type: "GET",
    dataType: "json",
    success: function (resp) {
      console.log(resp)
      // $('#create-table').html = "";
      document.getElementById('create-table').innerHTML = '';
      for (const x of Array(5).keys()) {
        console.log(x)
        $('#create-table').append(table(Object.values(resp['index'])[x],
                                  Object.values(resp['username'])[x],
                                  Object.values(resp['nominal'])[x],
                                  Object.values(resp['jumlahPohon'])[x],
                                  Object.values(resp['kampanye'])[x],
                                  Object.values(resp['donasi'])[x],
                                  Object.values(resp['noted'])[x]));
      }
    },
    error: function (resp) {
      console.log('Error?');
    }
  })
};

function getValue(col, desc) {
let tab= "";
$.ajax({
    url: "{% url 'admin_ft:add_ajax' %}",
    type: "GET",
    dataType: "json",
    success: function(resp){  
        let cnt=0;
        for (let i of Object.values(resp[col])){
          if (typeof i == 'string'){
            cnt++;
          }
          else{
            cnt+=i;
          }
        }
        tab=`<div class="bg-white text-center"><p>${desc} : ${cnt}</p></div>`
        $('#count').html(tab);
    },
    error: function(resp){
        console.log('Error?');
    }
})
};

$(document).on('click','#add-note', function (e) {
        console.log("add")
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "{% url 'admin_ft:create_notes' %}",
          data: {
            nama: $("#id_username").val(),
            note: $("#id_noted").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          dataType: "json",
          success: function (result, status) {
            $("#id_username").val('')
            $("#id_noted").val('')
            loadData();
          },
        });
  });
</script>
{% endblock content %}
