{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  



<div class="bg-blue-100 min-h-screen min-w-full">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <h1 class="font-bold text-blue-500 text-2xl mt-0.5 mb-1 ml-0.5">E C O I S T</h1>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4 ">
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Campaign List</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Create Campaign</a> 
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button type="button" class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span class="sr-only">View notifications</span>
            
          </button>
          <div class="relative ml-3">
            <div>
                <button class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" onclick="location.href='/login/'">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <!-- overlay -->
  <div id="modal_overlay" class="hidden absolute inset-0 bg-black bg-opacity-30 h-full w-screen flex justify-center items-center pt-10 md:pt-0">
    <!-- modal -->
    <div id="modal" class="opacity-0 transform -translate-y-full scale-150 relative h-fit bg-white w-4/12 rounded shadow-lg transition-opacity transition-transform duration-300">
      <!-- button close -->
      <button 
      onclick="openModal(false,-1)"
        class="absolute -top-3 -right-3 bg-red-500 hover:bg-red-600 text-2xl w-10 h-10 rounded-full focus:outline-none text-white">
        &cross;
      </button>
      <!-- body -->
      <div class="flex justify-center items-center w-full p-6 bg-white" id="count">
        
      </div>
    </div>
  </div>
  <div class="px-8 py-6 flex justify-between">
    <div class="flex gap-5 space">
      <button onclick="openModal(true,0)" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded text-white focus:outline-none">
        Total Users
      </button>
      <button onclick="openModal(true,1)" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded text-white focus:outline-none">
        Donation Amount
      </button>
      <button onclick="openModal(true,2)" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded text-white focus:outline-none">
        Total Tree
      </button>
      <button onclick="openModal(true,3)" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded text-white focus:outline-none">
        Total Campagin
      </button>
      <button onclick="openModal(true,4)" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded text-white focus:outline-none">
        Total Donation
      </button>
    </div>
    <div class="flex">
      <button id='add-note' onclick="openModal(true,5)" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded text-white focus:outline-none">
        Add Notes
      </button>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  #
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Name
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Donation Amount
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Total Tree
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Total Campaign
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Total Donation 
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Notes
                </th>
              </tr>
            </thead>
            <tbody>
              {% for data in table %}
              <tr class="bg-white border-b">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{data.index}}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{data.username}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{data.nominal}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{data.jumlahPohon}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{data.kampanye}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{data.donasi}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{data.noted}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <img src="data:image/png;base64,{{ data }}" alt="" height="600", width="600" class="bg-black">
</div>


	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<script>
		$(document).ready(function() {

			var table = $('#example').DataTable({
					responsive: true
				})
				.columns.adjust()
				.responsive.recalc();
		});
	</script>

</div>

<script>
const modal_overlay = document.querySelector('#modal_overlay');
const modal = document.querySelector('#modal');

function openModal (value, param){
const modalCl = modal.classList
const overlayCl = modal_overlay
if(value){
  overlayCl.classList.remove('hidden')
  setTimeout(() => {
    modalCl.remove('opacity-0')
    modalCl.remove('-translate-y-full')
    modalCl.remove('scale-150')
    console.log(value)
    if (param==0){getValue('username','Total Users')}
    else if (param==1){getValue('nominal','Total Donations Amount')}
    else if (param==2){getValue('jumlahPohon','Total Trees')}
    else if (param==3){getValue('kampanye','Total Joined Campaign')}
    else if (param==4){getValue('donasi','Total Joined Donation')}
    else if (param==5){
      $('#count').html(
      `  
      <div>
        <div class="font-bold">Nama: </div>
        <div>{{form.username}}</div>
        <br>
        <div class="font-bold">Notes:</div>
        <div>{{form.noted}}</div>
      </div>
      `
      );
    }

  }, 100);
} else {
  modalCl.add('-translate-y-full')
  setTimeout(() => {
    modalCl.add('opacity-0')
    modalCl.add('scale-150')
    $('#count').html('')
  }, 100);
  setTimeout(() => overlayCl.classList.add('hidden'), 300);
}
} 

function getValue(col, desc) {
let tab= "";
$.ajax({
    url: "{% url 'admin_ft:add_ajax' %}",
    type: "GET",
    dataType: "json",
    success: function(resp){  
        let cnt=0;
        for (let i of Object.values(resp[col])){
          if (typeof i == 'string'){
            cnt++;
          }
          else{
            cnt+=i;
          }
        }
        tab=`<div class="bg-white text-center"><p>${desc} : ${cnt}</p></div>`
        $('#count').html(tab);
    },
    error: function(resp){
        console.log('Error?');
    }
})
};

$('#add-note').click(function (e) {
        console.log("add")
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "{% url 'admin_ft:create_notes' %}",
          data: {
            nama: $("#id_usernama").val(),
            note: $("#id_noted").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          dataType: "json",
          success: function (result, status) {
            $("#id_usernama").val(''),
            $("#id_noted").val('')
          },
        });
  });
</script>
{% endblock content %}
