{% extends 'base.html' %}
{% load static %}
{% block meta %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.36.1/dist/full.css" rel="stylesheet" type="text/css" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static '/campaign.js' %}"></script>


{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}

<main>
    <!-- Main modal -->

    <input type="checkbox" id="my-modal" class="modal-toggle cursor-pointer" />
    <div class="modal">
        <div class="modal-box">
            <form method="POST" id="create-campaign" action="">
                {% csrf_token %}
                <div class="form-control w-full max-w-xs">
                    <label class="label">
                        <span class="label-text">Title</span>
                    </label>
                    {{ form.title }}
                    <label class="label">
                        <span class="label-text">Description</span>
                    </label>
                    {{ form.description }}
                </div>
                <div class="modal-action">
                    <label for="my-modal" id="button-close" class="btn btn-secondary">Cancel</label>
                    <label for="my-modal">
                        <button type="submit" value="Submit" id="button-submit" class="btn btn-primary">
                            Submit
                        </button>
                    </label>
                </div>
            </form>
        </div>
    </div>

    <div>
        <div class="flex flex-wrap gap-14 content-center items-center justify-center pt-14" id="card-container">
        </div>
    </div>

    <div class="flex flex-wrap gap-14 items-center justify-center content-center pt-20">

        {% if not user.is_authenticated %}
            
        {% else %} 
      
        <!-- The button to open modal -->
        <label for="my-modal" class="btn btn-primary">Create Campaign</label>
        {% endif %}
    </div>
</main>


<script>
    function refresh() {
        $.get("./json/", function (data) {
            console.log(data);
            $('#card-container').empty();
            for (i = 0; i < data.length; i++) {
                $('#card-container').append(`
                    <div class="card w-96 bg-base-100 shadow-xl image-full">
                    <figure><img src="https://placeimg.com/400/225/nature" alt="Shoes" /></figure>
                    <div class="card-body">
                        <h2 class="card-title">${data[i].fields.title}</h2>
                        <p>${data[i].fields.description}</p>
                        <div class="card-actions justify-end">
                            <div class="badge badge-outline">
                            <a href="{% url 'donate:show_donate' %}">Donate</a>
                        </div> 
                        <div class="badge badge-outline">
                            <a href="{% url 'participate:show-page' %}">Join</a>
                        </div>
                            {% if user.is_superuser %}
                            <div class="badge badge-outline">
                                <a>
                                    <button type="button" id="delete-button-${data[i].pk}">
                                    Delete
                                    </button>
                                </a>
                            </div>
                            {% else %} 
  
                            {% endif %}
                        </div>
                    </div>
                    </div>
            `);
            $(`#delete-button-${data[i].pk}`).attr('onclick', `deleteCard(${data[i].pk})`)
            }
        });
    }

    function addTask() {
        var title = $('#modal-title').val();
        var description = $('#modal-description').val();

        if (title != "" && description != "") {
            $.post({
                url: 'createajax/',
                type: 'post',
                data: {
                    'title': title,
                    'description': description,
                },
                success: refresh
            });
        }
    }

    function deleteCard(id) {
        $.post({
            url:`delete_campaign/${id}/`,
            type: 'post',
            data: {},
            success: refresh,
        });
    }

    function closeModal() {
        $('#modal-title').val("")
        $('#modal-description').val("")
        $("#button-close").click()
    }

    $('#button-submit').click(() => {
        addTask()
        closeModal()
        return false;
    })

        refresh();

</script>

{% endblock content %}