{% extends 'base.html' %}

{% block meta %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.36.1/dist/full.css" rel="stylesheet" type="text/css" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock meta %}

{% block content %}

{% include 'navbar.html' %}

<!-- Main modal -->
    
<input type="checkbox" id="my-modal" class="modal-toggle cursor-pointer" />
<div class="modal">
    <div class="modal-box">
        <form action="" method="POST" id="create-campaign">
            {% csrf_token %}
            <div class="form-control w-full max-w-xs">
                <label class="label">
                  <span class="label-text">Title</span>
                </label>
                <input type="text" placeholder="" id="modal-title" class="input input-ghost input-primary w-full max-w-xs" />
                <label class="label">
                    <span class="label-text">Description</span>
                  </label>
                  <input type="text" placeholder="" id="modal-description" class="input input-bordered input-primary w-full max-w-xs" />
              </div>
        </form>
        <div class="modal-action">
            <label for="my-modal" class="btn">Cancel</label>

            <button class="btn" type="submit" value="Submit" id="button">
                <label for="my-modal">
                    Submit
                </label>
            </button>

            
        </div>
    </div>
</div>

<div>
    <div class="flex flex-wrap gap-14 content-center items-center justify-center pt-14" id="card-container">
    </div>
</div>


<script>
    
function refresh() {
    $.get("./json/", function(data) {
        $('#card-container').empty();
        for (i = 0; i < data.length; i++) {
            $('#card-container').append(`
                    <div class="card w-96 bg-base-100 shadow-xl image-full">
                    <figure><img src="https://placeimg.com/400/225/nature" alt="Shoes" /></figure>
                    <div class="card-body">
                        <h2 class="card-title">${data[i].fields.title}</h2>
                        <p>${data[i].fields.description}</p>
                        <div class="card-actions justify-end">
                            <div class="badge badge-outline">
                            <a href="{% url 'donate:show_donate' %}">Donate</a>
                        </div> 
                        <div class="badge badge-outline">
                            <a href="{% url 'participate:show-page' %}">Join</a>
                        </div>
                        </div>
                    </div>
                    </div>
            `);
        }
    });
}

$("#button").click(function(){
    $.post( "/campaign/create-campaign-with-ajax/", 
    {
    title : $("#modal-title").val(), 
    description : $("#modal-description").val(), 
    }, 
    function(data, status) {
        $('#card-container').append(`
                    <div class="card w-96 bg-base-100 shadow-xl image-full">
                    <figure><img src="https://placeimg.com/400/225/nature" alt="Shoes" /></figure>
                    <div class="card-body">
                        <h2 class="card-title">${data.fields.title}</h2>
                        <p>${data.fields.description}</p>
                        <div class="card-actions justify-end">
                            <div class="badge badge-outline">
                            <a href="{% url 'donate:show_donate' %}">Donate</a>
                        </div> 
                        <div class="badge badge-outline">
                            <a href="#={% url 'participate:show-page' %}">Join</a>
                        </div>
                        </div>
                    </div>
                    </div>
            `);
        $('#modal-title').val('')
        $('#moda-description').val('')
    })
})


$(document).ready(function(){
    refresh();
});
</script>

<div class="flex flex-wrap gap-14 items-center justify-center content-center pt-20">
    <a href="{% url 'campaign:create_campaign' %}" 
        class="btn btn-primary" 
        role="button">
            Create New Task
    </a>

    <!-- The button to open modal -->
    <label for="my-modal" class="btn btn-primary">Create Campaign</label>

</div>
{% endblock content %}