{% extends 'base.html' %}

{% block meta %}
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
{% endblock meta %}

{% block content %}
    <!-- nav bar -->
    <style>
        /* * {
        border: 1px solid red;
      }   */
    </style>
    <div class="bg-gradient-to-b from-sky-400 to-green-200"> 
      <div class="content-center ">
        <nav class="bg-gray-800">
          <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
              <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                  <h1 class="font-bold text-blue-500 text-2xl mt-0.5 mb-1 ml-0.5">E C O I S T</h1>
                </div>
                <div class="hidden sm:ml-6 sm:block">
                  <div class="flex space-x-4 ">
                      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Campaign List</a>
                      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Create Campaign</a> 
                  </div>
                </div>
              </div>
              <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <button type="button" class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                  <span class="sr-only">View notifications</span>
                  
                </button>
                <div class="relative ml-3">
                  <div>
                      <button class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" onclick="location.href='/ecoist/login/'">Login</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <!-- picture with quotes -->
      


      

      <!-- cards that contain choices to what can you do -->
      <container class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 px-10 py-10 mb-10 flex justify-center">
        
        <div class=" bg-white rounded-lg  shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl overflow-hidden">
          <a href="#">
              <img class="rounded-t-lg" src="https://images.pexels.com/photos/1072824/pexels-photo-1072824.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
          </a>
          <div class="p-5">
              <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Make donations</h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Contribute to various campaigns by donating and help campaigns to reach their goals</p>
              <a href=" ../donate " class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ">
                  Contribute
              </a>
          </div>
        </div>

        <div class=" bg-white rounded-lg  shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl">
          <a href="#">
              <img class="rounded-t-lg" src="https://images.pexels.com/photos/7656748/pexels-photo-7656748.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2 " alt="">
          </a>
          <div class="p-5">
              <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    Volunteer
                  </h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Find campaigns that match your location and situation, then work together with fellow volunteers to create meaningful changes
              </p>
              <a href=" ../participate/ " class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 align-bottom">
                  Contribute
              </a>
          </div>
        </div>

        <div class=" bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl">
          <a href="#">
              <img class="rounded-t-lg" src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
          </a>
          <div class="p-5">
              <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    Start a campaign
                  </h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Create your own campaign and get fellow environmentalists to work with you in achieving that goals
              </p>
              <a href=" ../campaign " class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Contribute
              </a>
          </div>
        </div>

      </container> 
        

      <!-- donations sum real time and persuasion words-->
      <container class="align-center mb-10">
        <div class="flex justify-center mb-10 mt-10 ">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-x-px w-3/4 place-items-center justify-center rounded-md bg-gray-100 shadow-2xl" > 

              <div class=" w-4/5 md:w-3/5 text-align:center mt-10">
                <div class="flex justify-center">
                  <button id="get-count-btn" onclick="" class="align-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md ">Get Count</button>
                </div>
                <p id="campaign-count" class="text-[120px] textfont-bold justify-center text-center">
                </p>
                <p id="count-detail" class="text-gray-700  text-center mb-10 ">
                  Click the button above to get know how many campaigns already made
                </p>
              </div>

              <div id="persuade" class=" w-5/5  text-justify mx-10 mb-10">
                <p>
                  Ecoist is a web app where all can create campaigns and contribute by donating and volunteering in environmental-related campaigns. Find and start various campaigns in order to join the movement in creating a world where nature truly matters.
                </p>
              </div>

          </div>
        </div>

        <!-- about us -->
        <div class="flex justify-center py-10 bg-slate-800 text-white opacity-100 hover:bg-slate-900 " >
          <div>
            <p class="text-2xl text-center">
              About Us
            </p>
            <div class="flex justify-center">
              <p class="w-4/5 md:w-3/5 text-justify">
                Our team consists of five students that are pushed with the will to change the status quo of today's environmental crisis. To truly fix this problem and prevent an even parlous state of the environment throughout the globe, we believe true change can't only come from individuals, rather it needs our participation as a community as a whole. By creating Ecoist, we hope we can enable each person to participate actively for the cause with little to zero challenges.
              </p>
            </div>
            
          </div>
        </div>
      </container>

      <!-- leave a question form-->
          <div id="post-form" class= " flex justify-center mt-24 mb-10">
            <div class="w-4/5 grid grid-cols-1 text-center shadow-md  rounded-lg bg-sky-200 md:w-2/5 p-5 ">
              <p>
                Have something to ask about Ecoist? Drop your question below?
              </p>
              <form id="question-form" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                {% csrf_token %}
                <fieldset>
                  <div>            
                    {{form}}
                  </div>
                  <button id="submit-btn" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Submit</button>
                  <h3></h3>
                </fieldset>
              </form>
            </div>
          </div>
      
        <footer class="p-4 bg-white shadow md:px-6 md:py-8 dark:bg-gray-900">
          <div class="sm:flex sm:items-center sm:justify-between">
            
          </div>
          <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
          <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 Ecoist™. All Rights (haven't been) Reserved.
          </span>
        </footer>

      </div>

      <script>
        $(document).ready(() => {
          $('#submit-btn').click(function(e) {
            e.preventDefault()
            let form = $('#question-form')
            $.ajax({
                type: 'POST',
                url: 'submit-question/',
                data: form.serialize(),
                success: (response) => {
                  form.val();
                  console.log(response);
                  $('textarea[name=question]').val('');
                },
            }) 
          })
        })

        const getButton =  document.getElementById('get-count-btn');
        
        function gege(){
          $.get(
            '/get-campaign-sum/',
            (res) => {
              console.log(res)
              $('#campaign-count').empty();
              $('#count-detail').empty();
              $('#campaign-count').append(
                `
                ${res}
                `
              )
              $('#count-detail').append(
                `
                campaigns has already been started in Ecoist

                `
              )
            }
            
          )
        }

        $(`#get-count-btn`).attr('onclick', `gege()`);
         
      </script>


{% endblock content %}